*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

header{
    height: 80px;
}
.navbar{
    height: 80px;
}

main{
    height: calc(100vh - 82px);
}

.cardContainer{
    min-height: 300px;
    max-width: 800px;
    
}